<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CRUD Node.js</title>
  <link rel="shortcut icon" href="img/icon.png" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="./"><img src="img/icon.png" alt="Node.js icon" class="nav-icon"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="./">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="./add">Adicionar usuário</a>
          </li>
        </ul>
        <form class="d-flex" action="./search" method="GET">
          <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar" name="search">
          <button class="btn secondary-btn" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>
  <br>
  <div class="row container centered" width="100vw">
    <div class="text-center">
      <h2>Tabela de usuários</h2>
    </div>
    <br>
    <br>
    <br>
    <table class="table table-hover">
      <thead>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Telefone</th>
        <th scope="col">Cidade</th>
        <th scope="col">Estado</th>
        <th scope="col">Criação</th>
        <th scope="col">Atualização</th>
        <th scope="col">Ações</th>
      </thead>
      <tbody>
        <% users.forEach(function(user) { %>
          <tr>
            <td>
              <%= user.username %>
            </td>
            <td>
              <%= user.email %>
            </td>
            <td>
              <%= user.telefone %>
            </td>
            <td>
              <%= user.cidade %>
            </td>
            <td>
              <%= user.estado %>
            </td>
            <td>
              <%= user.created_at.toLocaleDateString() %>
                <%= user.created_at.toLocaleTimeString() %>
            </td>
            <td>
              <%= user.updated_at.toLocaleDateString() %>
                <%= user.updated_at.toLocaleTimeString() %>
            </td>
            <td>
              <div class="row">
                <div class="row">
                  <form action="./edit" method="GET">
                    <input type="hidden" name="id" value="<%= user.id %>">
                    <button type="submit" class="btn edit-btn"><i class="bi bi-pencil"></i></button>
                  </form>
                </div>
                <div class="row"></div>
                <div class="row">
                  <form action="./delete-user" method="POST">
                    <input type="hidden" name="id" value="<%= user.id %>">
                    <button type="submit" class="btn delete-btn"><i class="bi bi-trash"></i></button>
                  </form>
                </div>
              </div>
            </td>
          </tr>
          <% }) %>
      </tbody>
    </table>
    <br>
    <br>
    <div class="float-start">
      <a href="./add" class="btn primary-btn">Adicionar usuário</a>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
  <script src="js/script.js"></script>
</body>

</html>